@charset "utf-8";
body{
	background-color:#153946;
	color:#FFFFFF;
}
h1 {
	margin-left: 10%;
	text-align: left;
	font-size: 7vw;
}
h2 {
	margin-left: 10%;
	text-align: left;
	font-size: 5vw;
	color:#3AAFA9;
}
.navbar{
	background: #A9B7DB;
	box-shadow: 3px 3px 5px 6px #000000;
}
.bodytext{
	align-self: auto;
}
.intro{
	margin-left: 10%;
}
img{
	border: 10px solid #1AA5A7;
}

